<h2>Submeter Nova Proposta ao PDI</h2>
<%= form_tag issues_path, :method => 'post', :multipart => true do %>

    <p>
      Setor Proponente: <%= text_field_tag "issue[setor_proponente]" %>
    </p>

    <p>
      Responsável pelo Projeto: <%= text_field_tag "issue[responsavel_projeto]" %>
    </p>

    <p>
      Título do Projeto: <%= text_field_tag "issue[subject]" %>
    </p>

    <p>
      Objetivos: <%= text_area_tag "issue[objetivos]" %>
    </p>

    <p>
      Justificativa: <%= text_area_tag "issue[justificativa]" %>
    </p>

    <table class="table">
      <thead>
      <tr>
        <th>Indicadores e Relação com as metas</th>
        <th>Meta</th>
      </tr>
      <tr>
        <td><%= select_tag "" %></td>
        <td><%= text_field_tag "" %></td>
      </tr>
      <tr>
        <td><%= select_tag "" %></td>
        <td><%= text_field_tag "" %></td>
      </tr>
      <tr>
        <td><%= select_tag "" %></td>
        <td><%= text_field_tag "" %></td>
      </tr>
      <tr>
        <td><%= select_tag "" %></td>
        <td><%= text_field_tag "" %></td>
      </tr>
      </thead>
    </table>

    <table>
      <thead>
      <tr>
        <th>Ações</th>
        <th>Cronograma</th>
      </tr>
      </thead>
    </table>

    <div class="btn-group">
      <%= submit_tag "Submeter Proposta", :class => "btn btn-success" %>
<% end %>
</div>